extends layout.pug

block content

  article.portfolio-intro

    h1 Hello there!
    h2 Welcome to my Portfolio
      h3 Also a speacial shout out to my Team Treehouse reviewer!
      
    p My portfolio consists of the various projects undertaken during my time taking the Fullstack Course at Team Treehouse. This website is also one! Can you spot the recursion?
  

  article.portfolio-project-thumbs
    .projects-box.box.grid
      
    
      each project in data
        .cell
          a(href='/project/' + project.id)
            img.thumbnail(src=project.image_urls[0], alt=project.project_name + ' Thumbnail')
            h5 #{project.project_name}
        
