extends layout.pug

block content

  article.portfolio-intro
    
    h1 Server Error
    h2 Project not Found!
    
    p This project does not exist!  
      a(href='/')  Click here to return to the homepage
      
    p
      img(src='/images/jt.gif')
      

        

    

    



  article.portfolio-project-thumbs
    .projects-box.box.grid
